__pycache__/
.pytest_cache/
.history/
.venv/
app/static/uploads
*.pyc
.env
*.pyc
*.pyo
*.pyd
*.db*
.DS_Store
*.lock

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

package-lock.json